{% extends "layout.html" %}

{% block title %}
    {{ book.title }}
{% endblock %}

{% block body %}

    <h1>{{ book.title }}</h1>
    <h2> Book details</h2>
    <ul>
        <li>ISBN code: {{ book.isbn }}</li>
        <li>Title: {{ book.title }}</li>
        <li>Author: {{ book.author }}</li>
        <li>Year published: {{ book.year }}</li>
        
        <!-- TODO: only display if the data actually exists on goodreads -->
        <li>Number of reviews on GoodReads:</li>
        <li>Average score on GoodReads:</li>
    </ul>
    <h2> Book reviews</h2>
        <!-- TODO: execute query that fetches all reviews associated with the given book -->
        {% if reviews %}
            <ul>
                {% for review in reviews %}
                    <li>
                        <strong>Rate:</strong> {{ review.rate }}  <br>
                        <strong>Review:</strong> {{ review.review }}
                    </li>
                {% endfor %}
            </ul>
            
        {% else %}
            <p>No reviews yet, you're welcome to leave the first one!</p>        
        {% endif %}
    
    {% if not already_reviewed %}

        <h2> Add a new review</h2>

        <form action="{{ url_for('bookDetail', isbn=book.isbn)}}" method="post">
            <label for="rate">Rate the book between 1 (didn't like) to 5 (loved)</label>
            <input id="rate" type="number" name = "rate" min="1", max="5"><br>
            <textarea name = "review", placeholder="Write your review"></textarea><br>
            <input type="submit" value="Submit">           
        </form>

    {% endif %}
        

    <a href="{{ url_for('index') }}">New search</a>

    

{% endblock %}
